* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}
html {
    /* font-size: 62.5%; FIXME  @humberto Hay que cambiar esta propiedad*/
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
}

h1 {
    /* Cambie este valor por px */
    font-size: 25px;
}

h2 {
    /* Cambie este valor por px */
    font-size: 18px;
}

p,
label {
    font-size: 1.5rem;
}

input {
    width: 40rem;
    height: 4rem;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: end;
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
}

.navbar-menu li {
    padding: 1.5rem;
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.form-login {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* FIXME @HUMBERTO Modifiqué momentaneamente este estilo para acomodar el formulario */
.form-signin {
    display: grid;
    flex-direction: row;
    /* gap: 5rem;
    padding: 5rem; */
}

form input {
    margin-bottom: 1rem;
}

input[type="submit"] {
    margin-top: 2rem;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.link-forgotPassword {
    color: blue;
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 900px) {
    form {
        flex-direction: column;
        gap: 0;
    }

    .navbar {
        justify-content: center;
    }

    .mainSection {
        margin-top: 5rem;
    }

    .hero {
        height: 50vh;
    }

    .navbar-menu {
        flex-direction: column;
    }

    .footer {
        position: relative;
        margin-top: 10rem;
    }
}

span.asterisk {
    color: crimson;
}



